* {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
}

.container {
  border: solid gray;
  header {
    background: linear-gradient(91.5deg, #3ae395 42.59%, #52ea8f 57.87%);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    height: 75px;
    border-color: aqua;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    border: solid gray;

    a {
      font-size: 35px;
      color: #259d66;
      font-weight: 700;
      border: solid gray;
      margin: 0;
    }

    nav {
      ul {
        margin: 1rem 2rem;
        border: solid gray;
        li {
          display: inline-block;
          margin: 0rem 1rem;
          border: solid gray;
        }
        a {
          color: #3bb76e;
          font-weight: 600;
          border: solid gray;
          position: relative;
          font-size: 30px;
        }
      }
    }
  }
  .infoContainer {
    display: inline-block;
    border: solid gray;
  }
}
@media (min-width: 960px) {
  .container {
    header {
      border-radius: 0px;
    }
  }
}
@media (max-width: 960px) {
  .container {
    header {
      border-radius: 48px;
    }
  }
}
