* {
  font-family: "Darker Grotesque", sans-serif;
  box-sizing: border-box;
}
/*Header*/
#LearnMateLogo {
  font-weight: 700;
  font-size: 48px;
  color: #929292;
}

.navigationBarItem {
  font-weight: 700;
  font-size: 24px;
  color: #afafaf;
}

.navigationBar {
  border-radius: 48px;
  background-color: #f1f1f1;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 72px;
  width: auto;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 43;
  z-index: 999;
}

#navigationBar_container {
  display: flex;
  justify-content: space-between;
  height: 72px;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1500px;
}
.buyButton {
  /*green rounded rectangle*/
  border-radius: 7px;
  background: #35d38a;
  width: 145px;
  height: 50px;
  stroke-opacity: 0%;
}

.buyButton a {
  color: #0f742b;
}
/*First Section*/
#FirstSection h2 {
  font-size: 32px;
  font-family: "Darker Grotesque", sans-serif;
}

#emailText {
  color: blue;
}
